body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1e90ff, #87cefa);
    color: #333;
}


#quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}


h2 {
    margin-bottom: 20px;
    color: #1e90ff;
    font-size: 1.8rem;
}


label {
    font-size: 1.2rem;
    color: #333;
}


select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}


#submitQuiz {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #1e90ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitQuiz:hover {
    background: #00509e;
}


#quizResult {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}














#quizForm {
    text-align: center;
}

#quizResult {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}


.home-button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
    background-color: #00509e;
    transform: scale(1.1);
}